body {
    background-color: #E5E5E5 !important;
}

.navbar-light {
    background-color: transparent;
}

.navbar-nav {
    justify-content: space-between;
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    color: #686868 !important;
    font-size: 20px;
    padding-right: 15px;
}

.nav-item2 {
    background-color: #9370DB !important;
    border-radius: 15px !important;
    width: 95px !important;
    text-align: center !important;
    font-size: 20px;
    color: #ffffff;
}

#alert {
    position: relative;
    right: -3px !important;
}

.currentuser {
    position: relative;
    top: 120px !important;
    left: -80px;
    margin-bottom: 10px;
    border: 0;
    background-color: transparent;
    font-size: 10pt;
}

.socials {
    text-align: center !important;
    margin-top: 35px;
    top: 45px !important;
}

.card-dark {
    background-color: #E5E5E5;

}

/*---Buttons---*/
#firstName {
    border-color: #000000;
}

#lastName {
    border-color: #000000;
}

#email {
    border-color: #000000;
}

#phoneNumber {
    border-color: #000000;
}

#fullName {
    border-color: #000000;
}

#password {
    border-color: #000000;
}

#artistName {
    border-color: #000000;
}

#subbtn {
    position: relative;
    right: -110px;
    background-color: #9370DB;
}


/* styles for screens equal to or smaller than iPhone 14 Pro Max */
@media (max-width: 1283px) {

    #subbtn {
        position: relative;
        right: -5px;
        background-color: #9370DB;
    }


    .currentuser {
        position: relative;
        top: 25px !important;
        left: 4px;
        margin-bottom: 10px;
        border: 0;
        background-color: transparent;
        font-size: 10pt;
    }

}