body{
    background-color: #E5E5E5 !important;
}
.navbar-light {
    background-color: #ffffff;
}
.navbar-nav{
    justify-content: space-between;
}
.navbar-brand {
    font-size: 35px;
}
.nav-item{
    color: #686868 !important;
    font-size: 20px;
    padding-right: 15px;
}
.nav-item2{
    background-color: #9370DB !important;
    border-radius: 15px !important;
    width: 95px !important;
    text-align: center !important;
    font-size: 20px;
    color: #ffffff;
}
#alert{
    position: relative;
    right: -3px !important;
}

.graybg {
background-color: #ffffff !important;
border-radius: 15px !important;
margin: 15px;
padding: 7px;
}
.searchbox {
width: 100%;
border-radius: 15px !important;
background-color: #ffffff;
border: 5px;
padding: 30px;
margin: 0;
margin-top: 75px;
text-align: center;
}
.search {
display: flex;
justify-content: space evenly;
width: 100%;
border-radius: 15px !important;
padding: 7px;
margin-top: 10px;
border: 3px solid #000000;
font-size: 17px;
}
.zipcode {
display: flex;
justify-content: space evenly;
margin-top: 10px;
width: 50%;
border-radius: 15px !important;
padding: 7px;
border: 3px solid #000000;
font-size: 17px;
}
.sortbox {
display: flex;
justify-content: space evenly;
margin-top: 10px;
width: 33%;
border-radius: 15px !important;
padding: 7px;
border: 3px solid #000000;
font-size: 17px;
}
.filterbox {
display: flex;
justify-content: space evenly;
width: 30%;
border-radius: 15px !important;
padding: 7px;
border: 3px solid #000000;
font-size: 17px;
margin-top: 10px;
}
.col-md-5{
margin: auto;
}
.card-title{
text-align: center;
font-weight: 800;
font-size: 22px;
}
.card-text{
text-align: center;
font-weight: 800;
margin-top: -75px;
}
::-webkit-input-placeholder {
font-weight: bold;
}
:-moz-placeholder {
font-weight: bold;
}
:-ms-input-placeholder {
font-weight: bold;
}

/*---Star Rating---*/
.rating-box {
width: 175px;
border-radius: 15px !important;
height: 35px;
margin: auto;
margin-bottom: 10px;
background-color: #E5E5E5;
border: 1px;
box-sizing: border-box;
}

svg {
width: 30px;
height: 30px;
padding: 3px;
margin-top: 3px;
}


/* hide radio buttons */
input[name="star"] {
display: inline-block;
width: 0;
opacity: 0;
margin-left: -2px;
}

/* hide source svg */
.star-source {
width: 0;
height: 0;
visibility: hidden;
}


/* set initial color to transparent so fill is empty*/
.star {
color: #7a7a7a;

transition: color 0.2s ease-in-out;
}


/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/
.star-container {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

label:hover ~ label .star,
svg.star:hover,
input[name="star"]:focus ~ label .star,
input[name="star"]:checked ~ label .star {
color: #fbff28;
}

input[name="star"]:checked + label .star {
animation: starred 0.5s;
}

input[name="star"]:checked + label {
animation: scaleup 1s;
}

@keyframes scaleup {
from {
    transform: scale(1.2);
}
to {
    transform: scale(1);
}
}

@keyframes starred {
from {
    color: #d6ca2a;
}
to {
    color: #d6ca2a;
}
}

/*---Links---*/
a:link {
text-decoration: none;
color: black;
}
a:visited {
color: black;
}
a:hover {
text-decoration: none;
color: purple;
}

/*---Like Button---*/
.btns1{
position: relative;
top: -50px;
left: 410px;
}
.btns2{
position: relative;
top: -50px;
left: 410px;
}
.btns3{
position: relative;
top: -50px;
left: 410px;
}
.btns4{
position: relative;
top: -50px;
left: 410px;
}
.btns5{
position: relative;
top: -50px;
left: 410px;
}
.btns6{
position: relative;
top: -50px;
left: 410px;
}

/*---Footer---*/
.page-footer{
background-color: #ffffff;
}

/*---Social Media Icons---*/

