body {
  font-family: Arial;
  color: white;
}

.navbar-light {
  background-color: transparent;
  z-index: 20;
}

.navbar-nav {
  justify-content: space-between;

}

.navbar-brand {
  font-size: 35px;
}

.nav-item {
  color: #686868 !important;
  font-size: 20px;
  padding-right: 15px;
}

.nav-item2 {
  background-color: #9370DB !important;
  border-radius: 15px !important;
  width: 95px !important;
  text-align: center !important;
  font-size: 20px;
}

#navbarSupportedContent {
  position: relative;
  right: -1375px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
  isolation: isolate;
}

.split::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.left {
  left: 0;
}

.left::after {
  background-image: url('../Images/kennybeats-stu.jpeg')
}

.right {
  right: 0;
}

.right::after {
  background-image: url('../Images/uzi-performing.jpeg')
}

.centered button {
  font-size: 50px !important;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #000000 !important;
  text-align: center !important;
}

.left :hover {
  background-size: 150%;
}

.split.hovered::after {
  transform: scale(1.1);
}

.split.hovered button {
  color: #9370DB;
}